.main-container{
}
.bookslist-view{
    background-color: #ffffff;
    box-sizing: border-box;
}
.unordered_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.booklist-item{
    list-style-type: none;
    background-color: #eee6e5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 80%;
    border: 2px solid #e0d2d2;
    border-radius: 15px;
}
.book-name{
    color: rgb(51, 46, 46);
    font-size: 2.5rem;
}
.author-name{
    color: rgb(51, 46, 46);
    font-size: 1.5rem;
    font-weight: 500;
}